
<header class="jumbotron my-2">
    <h1 class="display-3">Firebase for Angular Front-end</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus
      non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
    <a class="btn btn-primary btn-lg" routerLink=""> Welcome </a>
    <a class="btn btn-primary btn-lg" routerLink="add-employee">Employee</a>
    <a class="btn btn-primary btn-lg" routerLink="add-customer">Customer</a>
  </header>